.row{
    padding: 20px;    
}
div{
    background-color: #645CAA;
}
#name{
    font-size: large;
    font-weight: bold;
    font-style: italic;
}
#titulo{
    font-size: large;
    font-weight: bold;
    font-style: italic;
}
#parrafo{
    text-align: center;
}
@media(min-width:576px){
#perfil{
    position: absolute;
    border-radius: 50%;
    width: 15%;
    top: 675px;
    box-shadow: 3px 3px 3px lightblue;
}
}
@media(max-width:575px){
    #perfil{
        position: absolute;
        top: 200px;
        border-radius: 50%;
        width: 40%;
        left: 140px;
        box-shadow: 3px 3px 3px lightblue;
    }
}
#title{
    margin-left: 15px;
    text-align: center;
}


