<div class="row">
    <h2>Experiencias laborales</h2>
    <div class="col-lg-10 col-xs-8 col-sm-8">
         <ol> <li id="lista"> <h4 id="titulolaburo">Tutora y coordinadora de niños y adolescentes - ReCreo UNCUYO </h4> <h5>- Eventual - diciembre 2014, agosto y septiembre 2015 y 2016 </h5>
                <p id="texto"> Fui coordinadora de niños y adolescentes durante las Olimpiadas Internacionales de Ciencias Junior (IJSO) Argentina 2014 y luego en las Olimpiadas Nacionales de Ciencias Junior 2015 y 2016, encargandome de cuidar, guiar y ayudar a los participantes, resguardando tambien sus documentos de viaje y dispositivos de comunicacion.</p>
        </li>
         <li id="lista"> <h4 id="titulolaburo">(ad honorem) Traductora y Coordinadora de adolescentes y adultos - Secretaria de Deportes de Mendoza </h4><h5>- Septiembre 2015 </h5>
                <p id="texto"> Fui convocada a interpretar y traducir del idioma ingles a español y viceversa durante el Torneo Internacional de Kuo Shu Argentina 2015, celebrado en el polideportivo Ribosqui de Maipu. </p>
            </li>   
             <li id="lista"><h4 id="titulolaburo">Atención al Público y tareas de pasteleria - Panaderia Bon Pan </h4> <h5>- Septiembre a diciembre 2018 </h5>
                <p id="texto"> Mis tareas incluyeron la atención al cliente y tareas de cocina, armado y decoracion de panificados, tartas, tortas y masas.</p>
            </li>   
             <li  id="lista"><h4 id="titulolaburo">Atención al Público y mantenimiento de piso - Village Cines (ahora Cinepolis) </h4> <h5>- Julio y Agosto 2019 </h5>
                <p id="texto"> Fui encargada de recibir al cliente y guiarlo a su correspondiente sala, limpiar cada sala y espacios comunes antes y despues de cada proyeccion y asegurar la higiene correcta de baños publicos. </p>
           </li>                 
            <li id="lista"> <h4 id="titulolaburo">Atención al publico, Caja, Stock y Reposicion de productos - Supermercados Don Pedro</h4> <h5>- Noviembre 2020 a Febrero 2021 </h5>
                <p id="texto"> Entre mis tareas estuvo la atencion al publico en areas de fiambreria y verduleria, cobro, arqueo de caja parcial y total, control de stocks y reposicion de mercaderia. </p>
           </li>   
            <li id="lista"> <h4 id="titulolaburo">Atención al Público y control de stock - Distribuidora I-cuadrado</h4> <h5>- Junio a Diciembre 2021</h5>
                <p id="texto"> Entre mis tareas estaba la atencion y asesoramiento al cliente, empaque de mercaderia, control de stock y carga de inventario. </p>  
           </li>      
            <li id="lista"> <h4 id="titulolaburo">Atención al Público y tareas de pasteleria - Panaderia Nueva Tucuman</h4> <h5>- Enero a Marzo 2022 </h5>
                <p id="texto"> Realice tareas de atención al cliente, control de caja y de stocks y cocina de panificados congelados para venta al publico.</p>
           </li>       
        </ol>
     </div>
</div>
