<div>
    <img src="../../../assets/APLogo.png" id="logoAP">
    <a href="https://www.facebook.com/geimaru"><img src="../../../assets/facebook.png" id="facebook"></a>
    <a href="https://www.instagram.com/geimaru/?hl=es"><img src="../../../assets/instagram.png" id="instagram"></a>
    <a href="https://www.linkedin.com/in/GeiMariana"><img src="../../../assets/linkedin.png" id="linkedin"></a>
    <a href="https://github.com/marulageila"><img src="../../../assets/github.png" id="github"></a>
    
     <button type="button" class="btn btn-primary" a href="../login/login.component.html"  id="boton" > Login 
    </button>
</div>
