<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
  <img src="../../../assets/1589825220979.jpg"
  class="img-fluid" id="perfil">
  </div>

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="name"> Mariana Lucía Gei </p>
    <p id="titulo"> Full Stack Developer Jr</p>
  </div>


 <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
    <h1 id="title"> Un poco sobre mí</h1>
    <p id="parrafo">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus iure excepturi ea inventore aperiam beatae, unde fuga voluptate quas culpa tempora porro officia, provident blanditiis ipsa nostrum vitae, doloremque consequuntur!
    </p>
  </span>
</div>
</div>
