<div class="row">
 <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
 <h2> Hard y Soft Skills</h2>
 <circle-progress
 [percent]="85"
 [radius]="75"
 [outerStrokeWidth]="16"
 [innerStrokeWidth]="8"
 [outerStrokeColor]="'#7A4495'"
 [innerStrokeColor]="'#FF8FB1'"
 [animation]="true"
 [animationDuration]="1000"
></circle-progress>

<circle-progress
 [percent]="85"
 [radius]="75"
 [outerStrokeWidth]="16"
 [innerStrokeWidth]="8"
 [outerStrokeColor]="'#7A4495'"
 [innerStrokeColor]="'#FF8FB1'"
 [animation]="true"
 [animationDuration]="1000"
></circle-progress>
<circle-progress
 [percent]="85"
 [radius]="75"
 [outerStrokeWidth]="16"
 [innerStrokeWidth]="8"
 [outerStrokeColor]="'#7A4495'"
 [innerStrokeColor]="'#FF8FB1'"
 [animation]="true"
 [animationDuration]="1000"
></circle-progress>
<circle-progress
 [percent]="85"
 [radius]="75"
 [outerStrokeWidth]="16"
 [innerStrokeWidth]="8"
 [outerStrokeColor]="'#7A4495'"
 [innerStrokeColor]="'#FF8FB1'"
 [animation]="true"
 [animationDuration]="1000"
></circle-progress>
<circle-progress
 [percent]="85"
 [radius]="75"
 [outerStrokeWidth]="16"
 [innerStrokeWidth]="8"
 [outerStrokeColor]="'#7A4495'"
 [innerStrokeColor]="'#FF8FB1'"
 [animation]="true"
 [animationDuration]="1000"
></circle-progress>
 </div>
</div>

