#facebook{
    width: 32px;
    margin: 8px;
    float: right;
    margin-top: 30px;
}
#instagram{
    width: 32px;
    margin: 8px;
    float: right;
    margin-top: 30px;
}
#linkedin{
    width: 32px;
    margin: 8px;
    float: right;
    margin-top: 30px;
}
#github{
    width: 32px;
    margin: 8px;
    float: right;
    margin-top: 30px;
}
#boton{
    width: 64px;
    margin: 8px;
    float: right;
    margin-top: 30px;
}
#logoAP{
    width: 150px;
    }