<div class="row"> 
    <h2>Educacion y Cursos</h2>
    <div class="col-lg-10">
        <ol >
            <li id="lista">
                <h4> Bachiller en Humanidades y Ciencias Sociales </h4>
                <h5> Colegio 11/PS Santa Maria de los Angeles </h5>
                <h6> 2008 a 2013 </h6>
            </li>
            <li id="lista">
                <h4> Tenicatura Superior en Locucion Integral de Radio y Television</h4>
                <h5> Instituto Fabian Calle</h5>
                <h6> Incompleto - Año 2017 </h6>
            </li>
            <li id="lista">
                <h4> Python Basico </h4>
                <h5> Django Girls en colaboracion con Belatrix </h5>
                <h6> 2019 </h6>
            </li>
            <li id="lista">
                <h4> Python Intensivo  </h4>
                <h5> Magalí Domínguez Lalli </h5> <a href="https://www.instagram.com/lamagadepython/?hl=es"> (La Maga de Python) </a>
                <h6> 2019</h6>
            </li>
            <li id="lista">
                <h4> Tecnicatura en Gestion y Administracion de Organizaciones Universitarias</h4>
                <h5> Facultad de Ciencias Politicas y Sociales - UNCUYO </h5>
                <h6> En curso - Último año</h6>
            </li>        
        </ol>
    </div>
</div> 
