<div class="container">
  <form>
     <div class="mb-3">
     <label for="idE" class="form-label">E-mail</label>
     <input type="email" class="form-control" id="idE" aria-describedby="idEH">
     <div id="idEH" class="form-text">Debe ser un correo valido</div>
     </div>

     <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
     </div>

     <div class="mb-3 form-check">
     <input type="checkbox" class="form-control" id="exampleCheck1">
     <label class="form-check-label" for="exampleCheck1">Recordarme</label>
     </div>
      <button type="submit" id="Enviar" class="btn btn-primary">Enviar</button>
  </form>
</div>